header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
  padding: 0px 12px;
  background-color: rgba(55, 56, 103, 1);
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 2rem;
  color: rgba(70, 160, 123, 1);
}
.rrLogo {
  width: 65px;
  height: 65px;
}