<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TrackGenix official web</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap"
			rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/styles/reset.css">
		<link rel="stylesheet" href="/styles/style.css">
		<link rel="stylesheet" href="/styles/header.css">
		<link rel="stylesheet" href="/styles/nav.css">
		<link rel="stylesheet" href="/styles/aside.css">
		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/footer.css">
        <link rel="stylesheet" href="/styles/login.css">
		<script src="/javascript/login.js"></script>
	</head>
	<body>
		<header>
			<div class="headerContainer">
				<img src="/assets/imgs/logoRR.png" class="rrLogo" alt="logo">
				<h1>Trackgenix</h1>
				<img src="/assets/imgs/burgerMenuIcon.png" class="burgerIcon invisibleTablet" alt="burger menu icon">
			</div>
			<nav class="showTablet">           
				<button class="navButton"> <a class="navButtonText" href="features.html">Features</a> </button>
				<button class="navButton"> <a class="navButtonText" href="why-trackgenix.html">Why you should use
				Trackgenix</a> </button>
				<button class="navButton"> <a class="navButtonText" href="history.html">History</a> </button>
				<button class="navButton"> <a class="navButtonText" href="products.html">Products</a> </button>
				<button class="navButton"> <a class="navButtonText" href="about-us.html">About us</a> </button>
				<button class="navButton"> <a class="navButtonText" href="support.html">Support</a> </button>
			</nav>
		</header>
		<aside class="showTablet">
			<form>
				<input type="text" class="searchIcon" placeholder="Search...">
			</form>
			<p class="menuSide">Menu</p>
			<div class="asideButtonsContainer">
				<button class="asideButton"> <a href="index.html">Home</a> </button>
				<button class="asideButton"> <a href="employee-signup.html">Sign up</a> </button>
				<button class="asideButton"> <a href="login.html">Log in</a> </button>
				<button class="asideButton"> <a href="contact-info.html">Contact information</a> </button>
			</div>
			<div class="logoAndTextAside">
				<img src="/assets/imgs/logoRR.png" class="rrLogo" alt="Company logo">
				<p class="asideText">
					Developed by GigaTech Software Solutions S.A.
				</p>
			</div>	
		</aside>
		<main>
            <div class="containerSignIn">
                <p class="containerTitle">Sign in</p>
                <form>
					<fieldset>
						<input id="inputMail" type="text" placeholder="Email...">
					</fieldset>
					<fieldset>
						<input id="inputPass" type="password" placeholder="Password..." id="">
					</fieldset>
                </form>
                    <a class="styleForLinks" href="forgotPassword.index">Forgot password</a>
                    <div class="checkboxTextDiv">
                        <input type="checkbox" id="">
                        <p>Remember me</p>
                    </div>
                <a href="index.html"> <button id="signInButton" class="signInButton">Sign in</button> </a>
                <p>Don't have an account? <a class="styleForLinks" href="employee-signup.html">Sign up</a> </p>                
            </div>
		</main>
		<footer>
			<div class="footerIcons">
				<a class="fbIcon" href="https://www.facebook.com">
				<img src="/assets/imgs/Vector.png" alt="Facebook icon">
				</a>
				<a class="twitter" href="https://twitter.com/">
				<img src="/assets/imgs/twiiter.png" alt="Twitter icon">
				</a>
				<a class="instagram" href="https://www.instagram.com">
				<img src="/assets/imgs/Instagram - Negative.png" alt="Instagram icon">
				</a>
				<a class="linkedin" href="https://www.linkedin.com/">
				<img src="/assets/imgs/LinkedIn - Negative.png" alt="Linkedin icon">
				</a>
			</div>
			<p class="footerText">
				Rosario, Argentina
				<span>Copyright © 2022 Radium Rocket. All rights reserved.</span>
			<p>
		</footer>
	</body>
</html>