body{ 
  width: 1512px;
  box-sizing: border-box;
}
header {
    position: fixed;
    width: 1512px;
    height: 91px;
    left: 0px;
    top: 0px;
    background-color: #373867;
    z-index: 1000;
  }
  
  header img {
    position: fixed;
    width: 65px;
    height: 67px;
    left: 26px;
    top: 12px;
  }
  
  h1 {
    position: absolute;
    width: 366px;
    height: 70px;
    left: 573px;
    top: 9px;
    font-family: "Roboto Flex", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto";
  
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #46a07b;
  }
  
  .navIcon {
    width: 50px;
    height: 39px;
  }
  
  nav {
    position: fixed;
    height: 55px;
    width: 1260px;
    left: 253px;
    top: 90px;
    z-index: 100;
  }
  
  .navButton {
    position: relative;
    width: 210px;
    height: 55px;
    padding: 0;
    margin: 0;
    float: left;
    font-size: 20px;
    background-color: #373867;
    border: none;
    border-right: 1px solid black;
  }
  
  .navButtonText {
    font-family: "Roboto Flex", sans-serif;
    text-decoration: none;
    color: #46a07b;
  }
  
  .burgerIcon {
    opacity: 0;
  }
  
  aside {
    position: fixed;
    width: 253px;
    height: 1000px;
    left: 0px;
    top: 90px;
    background: rgba(55, 56, 103, 0.1);
    text-align: center;
    z-index: 98;
  }
  
  .searchIcon {       
    background: url(/imgs/search-icon.jpeg) no-repeat right;
  }

  .asideButton {
    position: relative;
    width: 142px;
    height: 43px;
    background: rgba(55, 56, 103, 0);
    border: none;
    border-bottom: 1px solid black;
  }
  
  .asideButton a {
    margin: 10px;
    font-family: "Roboto";
    font-size: 16px;
    text-decoration: none;
    color: #479679;
  }
  
  aside input {
    margin: 22px;
  }
  
  aside div {
    position: relative;
    height: 1000px;
  }
  
  .asideText {
    position: absolute;
    margin-bottom: 12px;
    left: 10px;
    top: 470px;
    font-family: "Roboto";
    font-size: 11px;
  }
  
  .rrLogo2 {
    position: absolute;
    left: 95px;
    top: 370px;
  }
  
  .menuSide {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #373867;
  }
  #section1 {
    position: relative;
    width: 1259px;
    height: 782px;
    margin-left: 253px;
    top: 146px;
    background: linear-gradient(
      180deg,
      rgba(222, 239, 241, 0.86) 0%,
      rgba(229, 242, 244, 0.86) 35%,
      rgba(203, 228, 216, 0.1118) 58%,
      rgba(255, 255, 255, 0) 83%
    );
  }
  
  .welcomeDiv {
    position: absolute;
    width: 307px;
    height: 81px;
    left: 474px;
    top: 103px;
    background-color: rgba(170, 206, 155, 0.53);
    border: 2px solid #000000;
    border-radius: 20px;
    filter: blur(3px);
  }
  
  .welcome {
    position: absolute;
    margin-top: 12px;
    left: 512px;
    top: 110px;
    font-family: "Roboto";
    font-size: 49px;
    text-transform: uppercase;
    color: #373867;
  }
  
  .projectDescription {
    position: absolute;
    width: 546px;
    height: 450px;
    left: 134px;
    top: 330px;
    font-family: "Roboto";
    font-size: 28.8453px;
    line-height: 41px;
    color: #373867;
  }
  
  #section1 img {
    position: absolute;
    width: 500px;
    height: 272px;
    left: 725px;
    top: 313px;
    border: 0.75px solid #000000;
  }
  
  .sectionDivider {
    position: absolute;
    width: 1000px;
    height: 2px;
    left: 400px;
    top: 900px;
    background-color: rgba(128, 128, 128, 0.623);
  }
  
  #section2 {
    position: relative;
    height: 1000px;
    width: 1250px;
    margin-left: 230px;
    top: 120px;
  }
  
  #section2 img {
    width: 222px;
    height: 222px;
    padding: 12px 12px;
    background: rgba(170, 206, 155, 0.3);
    border-radius: 20px;
  }
  
  .sectionTitle {
    position: absolute;
    width: 386px;
    height: 47px;
    left: 150px;
    top: 100px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 40px;
    color: #373867;
  }
  
  .subtitle1 {
    position: absolute;
    width: 140px;
    height: 28px;
    left: 270px;
    top: 231px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #373867;
  }
  
  .img1 {
    position: absolute;
    left: 220px;
    top: 283px;
  }
  
  .subtitle2 {
    position: absolute;
    width: 140px;
    height: 28px;
    left: 950px;
    top: 230px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #373867;
  }
  
  .img2 {
    position: absolute;
    left: 880px;
    top: 289px;
  }
  
  .subtitle3 {
    position: absolute;
    width: 316px;
    height: 26px;
    left: 180px;
    top: 580px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #373867;
  }
  
  .img3 {
    position: absolute;
    left: 220px;
    top: 635px;
  }
  
  .subtitle4 {
    position: absolute;
    width: 199px;
    height: 26px;
    left: 910px;
    top: 580px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #373867;
  }
  
  .img4 {
    position: absolute;
    left: 880px;
    top: 635px;
  }
  
  .sectionDivider2 {
    position: absolute;
    width: 1000px;
    height: 2px;
    left: 400px;
    top: 1950px;
    background-color: rgba(128, 128, 128, 0.623);
    z-index: 20;
  }
  
  #section3 {
    position: relative;
    height: 900px;
    width: 1250px;
    top: 150px;
    margin-left: 220px;
  }
  
  .sectionTitle2 {
    position: absolute;
    width: 1000px;
    left: 370px;
    top: 100px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 40px;
    color: #373867;
  }
  
  .subtitle5 {
    position: absolute;
    width: 291px;
    height: 28px;
    left: 320px;
    top: 289px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #373867;
  }
  
  .imgBackground1 {
    position: absolute;
    width: 125px;
    height: 131px;
    left: 150px;
    top: 345px;
    background: rgba(170, 206, 155, 0.3);
    transform: rotate(45deg);
  }
  
  #img5 {
    position: absolute;
    left: 150px;
    top: 350px;
  }
  
  .description1 {
    position: absolute;
    width: 290px;
    height: 140px;
    left: 320px;
    top: 376px;
    font-family: "Roboto";
    font-size: 20px;
    color: #373867;
  }
  
  .subtitle66 {
    position: absolute;
    width: 230px;
    height: 29px;
    left: 930px;
    top: 289px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #373867;
  }
  
  .imgBackground2 {
    position: absolute;
    width: 125px;
    height: 131px;
    left: 780px;
    top: 345px;
    background: rgba(170, 206, 155, 0.3);
    transform: rotate(45deg);
  }
  
  .img6 {
    position: absolute;
    left: 805px;
    top: 358px;
  }
  
  .description2 {
    position: absolute;
    width: 270px;
    height: 140px;
    left: 940px;
    top: 376px;
    font-family: "Roboto";
    font-size: 20px;
    color: #373867;
  }
  
  .subtitle77 {
    position: absolute;
    width: 260px;
    height: 65px;
    left: 320px;
    top: 571px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #373867;
  }
  
  .imgBackground3 {
    position: absolute;
    left: 148px;
    top: 650px;
    background: rgba(170, 206, 155, 0.3);
    width: 125px;
    height: 131px;
    transform: rotate(45deg);
  }
  
  .img7 {
    position: absolute;
    left: 160px;
    top: 650px;
  }
  
  .description3 {
    position: absolute;
    width: 370px;
    height: 159px;
    left: 320px;
    top: 690px;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 23px;
    color: #373867;
  }
  
  .subtitle88 {
    position: absolute;
    width: 230px;
    height: 26px;
    left: 930px;
    top: 600px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    color: #373867;
  }
  
  .imgBackground4 {
    position: absolute;
    width: 125px;
    height: 131px;
    left: 780px;
    top: 625px;
    background: rgba(170, 206, 155, 0.3);
    transform: rotate(45deg);
  }
  
  .img8 {
    position: absolute;
    left: 785px;
    top: 636px;
  }
  
  .description4 {
    position: absolute;
    width: 250px;
    height: 140px;
    left: 940px;
    top: 684px;
    font-family: "Roboto";
    font-size: 20px;
    color: #373867;
  }
  
  .sectionDivider3 {
    position: absolute;
    width: 1000px;
    height: 2px;
    left: 400px;
    top: 2900px;
    background-color: rgba(128, 128, 128, 0.623);
    z-index: 20;
  }
  
  #section4 {
    position: relative;
    width: 1159px;
    height: 900px;
    top: 240px;
    margin-left: 280px;
  }
  
  .sectionTitle3 {
    position: absolute;
    width: 178px;
    height: 28px;
    left: 100px;
    top: 62px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  
  #inputName {
    position: absolute;
    height: 37px;
    width: 450px;
    left: 90px;
    top: 160px;
    border: 1px solid #373867;
    border-radius: 4px;
  }
  
  #inputMail {
    position: absolute;
    height: 37px;
    width: 450px;
    left: 590px;
    top: 160px;
    border: 1px solid #373867;
    border-radius: 4px;
  }
  
  #inputContact {
    position: absolute;
    height: 37px;
    width: 999px;
    left: 90px;
    top: 250px;
  }
  
  #check1 {
    position: absolute;
    left: 150px;
    top: 340px;
  }
  
  .checkText1 {
    position: absolute;
    left: 180px;
    top: 344px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 13px;
  }
  
  #check2 {
    position: absolute;
    left: 630px;
    top: 340px;
  }
  
  .checkText2 {
    position: absolute;
    left: 660px;
    top: 344px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 13px;
  }
  
  .inputText {
    position: absolute;
    left: 90px;
    top: 450px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
  }
  
  #inputTextArea {
    position: absolute;
    width: 1000px;
    height: 250px;
    left: 90px;
    top: 500px;
    font-family: "Roboto";
    font-size: 14px;
  }
  
  .sectionDivider4 {
    position: absolute;
    width: 1000px;
    height: 2px;
    left: 400px;
    top: 3820px;
    background-color: rgba(128, 128, 128, 0.623);
    z-index: 20;
  }
  
  #section5 {
    position: relative;
    width: 1259px;
    height: 1000px;
    margin-top: 240px;
    margin-left: 253px;
    background: linear-gradient(
      180deg,
      rgba(222, 239, 241, 0.86) 0%,
      rgba(229, 242, 244, 0.86) 35%,
      rgba(203, 228, 216, 0.1118) 58%,
      rgba(255, 255, 255, 0) 83%
    );
  }
  
  .sectionTitle4 {
    position: absolute;
    width: 210px;
    height: 28px;
    left: 44px;
    top: 45px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
  }
  
  .greenUnderline {
    position: absolute;
    width: 885px;
    height: 42px;
    left: 50px;
    top: 104px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: underline 5px solid rgba(143, 213, 200, 1);
  
    color: #373867;
  }
  
  .purpleUnderline {
    position: absolute;
    width: 885px;
    height: 42px;
    left: 455px;
    top: 104px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: underline 5px solid rgba(55, 56, 103, 1);
    color: #373867;
  }
  
  .littleText {
    position: absolute;
    width: 722px;
    height: 52px;
    left: 270px;
    top: 200px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #151515;
  }
  
  .paragraph1 {
    position: absolute;
    width: 936px;
    height: 90px;
    left: 150px;
    top: 250px;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1c1c37;
  }
  
  .section5img {
    position: absolute;
    left: 820px;
    top: 660px;
  }
  
  #logoCompany {
    position: absolute;
    width: 100px;
    left: 1080px;
    top: 50px;
  }
  
  .quoteTitle {
    position: absolute;
    left: 50px;
    top: 380px;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #373867;
  }
  
  .decorationDiv {
    position: absolute;
    width: 3px;
    height: 100px;
    left: 55px;
    top: 446px;
    background-color: rgba(151, 151, 151, 0.363);
  }
  
  .quoteDiv {
    position: absolute;
    width: 1050px;
    height: 60px;
    padding: 22px;
    left: 80px;
    top: 446px;
    background-color: rgba(217, 217, 217, 0.2);
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8);
  }

  .blackText {
    position: absolute;
    height: 20px;
    left: 900px;
    top: 70px;
    font-family: "Roboto";
    font-style: italic;
    font-size: 17px;
    color: rgb(121, 52, 52);
  }
  
  .aboutUs {
    position: absolute;
    width: 99px;
    height: 28px;
    left: 50px;
    top: 600px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    color: #373867;
  }
  
  .paragraph2 {
    position: absolute;
    width: 760px;
    height: 280px;
    left: 50px;
    top: 653px;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 30px;
    color: #373867;
  }
  
  .sectionDivider5 {
    position: absolute;
    width: 1000px;
    height: 2px;
    left: 400px;
    top: 4870px;
    background-color: rgba(128, 128, 128, 0.623);
    z-index: 20;
  }
  
  #section6 {
    position: relative;
    width: 1259px;
    height: 1282px;
    margin-top: 50px;
    margin-left: 253px;
  }
  
  #section6 img {
    width: 384px;
    height: 284px;
  }
  
  #section6 ul {
    margin-top: 16px;
    margin-left: 20px;
    list-style-type: disc;
  }
  
  .product1 {
    position: absolute;
    left: 110px;
    top: 173px;
  }
  
  #sectionTitle6 {
    position: absolute;
    width: 195px;
    height: 36px;
    top: 55px;
    left: 75px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    text-decoration: underline 2px solid rgba(0, 0, 0, 0.397);
  }
  
  .subtitle6 {
    width: 324px;
    text-align: left;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  
  .paragraph3 {

    font-size: 16px;
    font-family: "Roboto";
    margin-top: 40px;
    text-align: left;
  }
  
  .product2 {
    position: absolute;
    left: 758px;
    top: 173px;
  }
  
  .sectionTitle7 {
    width: 195px;
    height: 36px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
  
  .subtitle7 {
    width: 324px;
    left: 10px;
    top: 300px;
    text-align: left;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  
  .paragraph4 {
    width: 385px;
    margin-top: 40px;
    font-size: 16px;
    font-family: "Roboto";
    text-align: left;
  }
  
  .product3 {
    position: absolute;
    left: 115px;
    top: 750px;
  }
  
  .sectionTitle8 {
    width: 195px;
    height: 36px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
  
  .subtitle8 {
    width: 324px;
    left: 10px;
    top: 300px;
    text-align: left;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  
  .paragraph5 {
    width: 385px;
    margin-top: 40px;
    left: 15px;
    font-size: 16px;
    font-family: "Roboto";
    text-align: left;
  }
  
  .product4 {
    position: absolute;
    left: 758px;
    top: 750px;
  }
  
  .sectionTitle9 {
    width: 195px;
    height: 36px;
    left: 75px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
  
  .subtitle9 {
    width: 324px;
    left: 10px;
    top: 300px;
    text-align: left;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  
  .paragraph6 {
    width: 385px;
    margin-top: 40px;
    left: 15px;
    font-size: 16px;
    font-family: "Roboto";
    text-align: left;
  }
  
  .sectionDivider6 {
    position: absolute;
    width: 1000px;
    height: 2px;
    left: 400px;
    top: 6220px;
    background-color: rgba(128, 128, 128, 0.623);
    z-index: 20;
  }
  
  #section7 {
    position: relative;
    width: 1259px;
    height: 1100px;
    margin-top: 110px;
    margin-left: 253px;
  }
  
  .sectionTitle7 {
    margin-left: 100px;
    margin-bottom: 30px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-decoration: underline 2px solid;
  }
  
  #section7 img {
    width: 477px;
    height: 304px;
  }
  
  .subtitle10 {
    position: absolute;
    width: 639px;
    height: 53px;
    left: 580px;
    top: 85px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 26px;
  }
  
  .paragraph7 {
    position: absolute;
    width: 470px;
    left: 580px;
    top: 150px;
    font-family: "Roboto";
    font-size: 21px;
    line-height: 25px;
  }
  
  .imgLeft1 {
    position: absolute;
    left: 50px;
  }
  
  .subtitle11 {
    position: absolute;
    width: 639px;
    height: 53px;
    left: 200px;
    top: 420px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 26px;
  }
  
  .paragraph8 {
    position: absolute;
    width: 520px;
    left: 100px;
    top: 480px;
    font-family: "Roboto";
    text-align: right;
    font-size: 21px;
    line-height: 25px;
  }
  
  .imgRight {
    position: absolute;
    top: 358px;
    left: 690px;
  }
  
  .subtitle12 {
    position: absolute;
    width: 639px;
    height: 53px;
    left: 580px;
    top: 750px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 26px;
  }
  
  .paragraph9 {
    position: absolute;
    width: 470px;
    left: 580px;
    top: 800px;
    font-family: "Roboto";
    font-size: 21px;
    line-height: 25px;
  }
  
  .imgLeft2 {
    position: absolute;
    top: 720px;
    left: 50px;
  }
  
  .sectionDivider7 {
    position: absolute;
    width: 1000px;
    height: 2px;
    left: 400px;
    top: 7400px;
    background-color: rgba(128, 128, 128, 0.623);
    z-index: 20;
  }
  
  #section8 {
    position: relative;
    width: 1259px;
    height: 1150px;
    margin-top: 30px;
    margin-left: 253px;
  }
  
  .sectionTitle8 {
    position: absolute;
    margin-left: 100px;
    margin-bottom: 30px;
    top: 67px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-decoration: underline 2px solid;
  }
  
  #section8 img {
    position: absolute;
    width: 477px;
    height: 304px;
    top: 156px;
  }
  
  .subtitle13 {
    position: absolute;
    width: 448px;
    height: 69px;
    left: 92px;
    top: 475px;
    font-family: "Roboto";
    font-size: 23px;
    text-align: center;
    line-height: 31px;
  }
  
  .imgLeft3 {
    position: absolute;
    top: 620px;
    left: 50px;
  }
  
  .subtitle14 {
    position: absolute;
    width: 371px;
    height: 47px;
    left: 745px;
    top: 475px;
    font-family: "Roboto";
    font-size: 23px;
    text-align: center;
    line-height: 31px;
  }
  
  .imgRight2 {
    position: absolute;
    top: 620px;
    left: 690px;
  }
  
  .sectionTitle9 {
    position: absolute;
    margin-left: 100px;
    margin-bottom: 30px;
    top: 650px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
  }
  
  #section8 ol {
    position: absolute;
    width: 950px;
    top: 700px;
    left: 160px;
    list-style: decimal;
  }
  
  #section8 ol li {
    font-family: "roboto";
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
  }
  
  #section8 ol li span {
    position: absolute;
    right: 0;
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #1d22ec;
  }
  
  #section8 button {
    position: absolute;
    width: 480px;
    height: 116px;
    top: 980px;
    left: 390px;
    background: #98220d;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }
  
  #section8 button a {
    text-decoration: none;
    font-family: "roboto";
    font-style: italic;
    font-weight: 700;
    font-size: 26px;
    color: #ffffff;
  }
  
  footer div {
    position: relative;
    width: 1263px;
    margin-top: 20px;
    margin-left: 250px;
    background: #373867;
  }
  
  footer div img {
    margin: 30px 50px;
  }
  
  .fbIcon {
    margin-left: 300px;
  }
  
  .footerText {
    position: absolute;
    margin: 50px;
    top: 8755px;
    left: 590px;
    font-size: 22px;
    text-align: center;
    font-family: "arial";
    font-weight: 700;
    font-size: 16px;
  }
  
  .footerText span {
    display: block;
    margin-top: 22px;
    margin-bottom: 80px;
  }