body{
    height: 9400px;
}

header {

    background-color: #373867;
    position: fixed;
    width: 1512px;
    height: 91px;
    left: 0px;
    top: 0px;
    z-index: 100;
}

header img {

    position: fixed;
    width: 65px;
    height: 67px;
    left: 26px;
    top: 12px;

}

h1 { 

    color: #46A07B; 
    font-family: 'Roboto Flex', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    width: 366px;
    height: 70px;
    left: 573px;
    top: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;

    color: #46A07B;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navIcon {

    width: 50px;
    height: 39px; 

}

nav {
    position: fixed;
    height: 55px;
    width: 1260px;
    left: 253px;
    top: 90px;
    z-index: 99;
}

.navButton {

    background-color: #373867;
    position: relative;
    float: left;
    font-size: 20px;
    width: 209.8px;
    height: 55px;
    border: none;
    border-right: 1px solid black;
    padding: 0;
    margin: 0;
}

.navButtonText {

    text-decoration: none;
    color: #46A07B; 
    font-family: 'Roboto Flex', sans-serif;
}

#burgerIcon { 

    opacity: 0;
}

aside {

    position: fixed;
    width: 253px;
    height: 1000px;
    left: 0px;
    top: 90px;
    background: rgba(55, 56, 103, 0.1);
    text-align: center;
    z-index: 98;
}

.asideButton {

    width: 142px;
    height: 43px;
    background: rgba(55, 56, 103, 0);
    border: none;
    border-bottom: 1px solid black;
    position: relative;


}

.asideButton a {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #479679;
    margin: 10px;

}

aside input {

    margin: 22px;
}

aside div {

    position: relative;
    height: 1000px;

}

aside div p {

   margin-bottom: 12px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;

}

#menuSide {
 
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 23px;

color: #373867;
}

#hidden {

    position: absolute;
    display: none;

}

#section1 {
    
    position: absolute;
    left: 253px;
    top: 146px;
    width: 1259px;
    height: 782px;
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.86) 0%,  rgba(229, 242, 244, 0.86) 35%, rgba(203, 228, 216, 0.1118) 58%, rgba(255, 255, 255, 0) 83%); 
}

#welcomeDiv {
    

position: absolute;
width: 307px;
height: 81px;
left: 474px;
top: 103px;
filter: blur(3px);
background-color: rgba(170, 206, 155, 0.53);
border: 2px solid #000000;
border-radius: 20px;
align-items: center;
align-content: center;
}


#welcome {

    position: absolute;
    justify-content: center;
    text-align: center;
    left: 512px;
    top: 110px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    text-transform: uppercase;
    margin: auto;
    color: #373867;
    z-index: 10;
    margin-top: 12px;
} 

#projectDescription {

    position: absolute;
width: 546px;
height: 457.4px;
left: 134px;
top: 231px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28.8453px;
line-height: 41px;
/* or 143% */

display: flex;
align-items: center;
letter-spacing: 0.02em;

/* Grayish Navy - Primary color */

color: #373867;
}

#section1 img {
    
    box-sizing: border-box;
    
    position: absolute;
    width: 500px;
    height: 272.52px;
    left: 724.86px;
    top: 312.56px;
    
    border: 0.75px solid #000000;

}


#section2 {

    position: absolute;
    left: 120px;
    top: 900px;
}

#section2 img {

    background: rgba(170, 206, 155, 0.3);
    border-radius: 20px;
    width: 222px;
    height: 222px;
    padding: 12px 12px;
}

#sectionTitle {

position: absolute;
width: 386px;
height: 47px;
left: 267px;
top: 130px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;


color: #373867;
}

#subtitle1 {


position: absolute;
width: 140px;
height: 28px;
left: 359px;
top: 231px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #373867;
}

#img1 {

    position: absolute;
    left: 309px;
    top: 283px;
}


#subtitle2 {


    position: absolute;
    width: 140px;
    height: 28px;
    left: 1033px;
    top: 230px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img2 {
    
     position: absolute;
     left: 977px;
     top: 289px;
}

#subtitle3 {


    position: absolute;
    width: 316px;
    height: 26px;
    left: 270px;
    top: 580px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img3 {
    
     position: absolute;
     left: 311px;
     top: 635px;
}

#subtitle4 {


    position: absolute;
    left: 1000px;
    top: 580px;
    width: 199px;
    height: 26px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img4 {
    
     position: absolute;
     left: 977px;
     top: 635px;
}

#section3 {

    position: absolute;
    top: 1964px;
    left: 120px;
}


#section3 img {

    background: rgba(170, 206, 155, 0.3);
    border-radius: 20px;
    width: 131px;
    height: 131px;
    padding: 12px 12px;
    
}

#sectionTitle2 {

position: absolute;
width: 386px;
height: 47px;
left: 267px;
top: 130px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;


color: #373867;
}

#subtitle5 {


position: absolute;
width: 291px;
height: 28px;
left: 426px;
top: 294px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #373867;
}

#img5 {

    position: absolute;
    left: 277px;
    top: 350px;
}

#description1 {

    position: absolute;
    width: 290px;
height: 140px;
left: 447px;
top: 376px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;


color: #373867;
}


#subtitle66 {


    position: absolute;
    width: 230px;
    height: 29px;
    left: 1044px;
    top: 289px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img6 {
    
     position: absolute;
     left: 916px;
     top: 358px;
}

#description2 {

    position: absolute;
    width: 270px;
    height: 140px;
    left: 1066px;
    top: 376px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;


color: #373867;
}


#subtitle77 {


    position: absolute;
    width: 260px;
    height: 65px;
    left: 426px;
    top: 571px;    
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;

    
    color: #373867;
    }
    
#img7 {
    
     position: absolute;
     left: 287px;
     top: 634px;
}

#description3 {

    position: absolute;
    width: 370px;
    height: 159px;
    left: 447px;
    top: 690px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;


color: #373867;
}


#subtitle88 {


    position: absolute;
    width: 230px;
    height: 26px;
    left: 1048px;
    top: 580px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img8 {
    
     position: absolute;
     left: 897px;
     top: 636px;
}

#description4 {

    position: absolute;
    width: 250px;
    height: 140px;
    left: 1069px;
    top: 684px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;


color: #373867;
}

#section4 {


    position: absolute;
    top: 2946px;
    left: 253px;
    width: 1259px;
    height: 782px;
}

#sectionTitle3 {

    position: absolute;
width: 178px;
height: 28px;
left: 100px;
top: 62px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #000000;
}

#inputName {

position: absolute;
height: 37px;
width: 450px;
left: 4%;
right: 51.59%;
top: 160px;

/* Grayish Navy - Primary color */

border: 1px solid #373867;
border-radius: 4px;
}

#inputMail {

    position: absolute;
    height: 37px;
    width: 450px;
left: 47%;
right: 3.37%;
top: 160px;



border: 1px solid #373867;
border-radius: 4px;

}

#inputContact {
    position: absolute;
    height: 37px;
    width: 1025px;
    left: 4.5%;
top: 250px;

}

#check1 {

    position: absolute;
    left: 12%;
    top: 43.5%;

}

#checkText1 {

    position: absolute;
    left: 15%;
    top: 44%;

    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    
    color: #000000;
}

#check2 {

    position: absolute;
    left: 50%;
    top: 43.5%;

}

#checkText2 {

    position: absolute;
    left: 52%;
    top: 44%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    
    color: #000000;
}

#inputText {

    position: absolute;

    left: 4%;
    top: 450px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    
    color: #000000;
}

#inputTextArea {

    position: absolute;
    width: 1050px;
    height: 250px;
    left: 4.5%;
    top: 500px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

}


#section5 {


    position: absolute;
    top: 3928px;
    left: 253px;
    width: 1259px;
    height: 782px;
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.86) 0%,  rgba(229, 242, 244, 0.86) 35%, rgba(203, 228, 216, 0.1118) 58%, rgba(255, 255, 255, 0) 83%); 

}

#sectionTitle4 {

    position: absolute;
    width: 210px;
    height: 28px;
    left: 44px;
    top: 38px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: underline;

    color: #000000;
    

}

#greenUnderline {

    position: absolute;
    width: 885px;
    height: 42px;
    left: 50px;
    top: 94px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
letter-spacing: 0.08em;
text-transform: uppercase;
text-decoration: underline 5px solid rgba(143, 213, 200, 1);

color: #373867;
}

#purpleUnderline {

    position: absolute;
    width: 885px;
    height: 42px;
    left: 455px;
    top: 94px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: underline 5px solid rgba(55, 56, 103, 1);
    
    color: #373867;
    
}

#littleText {

position: absolute;
width: 722px;
height: 52px;
left: 270px;
top: 161px;

font-family: 'Roboto';
font-style: italic;
font-weight: 600;
font-size: 18px;
line-height: 78px;

text-align: center;

color: #151515;
}

#paragraph1 {

position: absolute;
width: 936px;
height: 90px;
left: 50px;
top: 237px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;

color: #1C1C37;
}

#section5img {

    position: absolute;
    left: 50px;
    top: 340px;
    
}

#logoCompany {
    position: absolute;
left: 120px;
top: 38px;

}

#blackText {

    position: absolute;
height: 20px;
left: 900px;
top: 55px;

font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 17px;
line-height: 20px;



color: rgba(0, 0, 0);
}

#quoteTitle {
    position: absolute;
    width: 712px;
    height: 41px;
    left: 50px;
    top: 367px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    /* Grayish Navy - Primary color */
    
    color: #373867;

}
#quoteDiv {

    background-color: rgba(217, 217, 217, 0.2);

    position: absolute;
    padding: 22px;
    width: 1050px;
    height: 60px;
    left: 80px;
    top: 446px;

    font-family: 'Roboto';
    line-height: ;
    font-style: italic;
    font-weight: 100;
    font-size: 17px;


color: rgba(0, 0, 0, 0.8);
}

#aboutUs {

    position: absolute;
    width: 99px;
    height: 28px;
    left: 50px;
    top: 600px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    
    color: #373867;

}

#paragraph2 {

    position: absolute;
    width: 760px;
    height: 265px;
    left: 50px;
    top: 653px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    
    /* Grayish Navy - Primary color */
    
    color: #373867;

}

#section5 img {

    position: absolute;
    width: 385px;
    height: 238px;
    left: 844px;
    top: 646px;

}

#section6 {

    position: absolute;
    top: 4910px;
    left: 253px;
    width: 1259px;
    height: 782px;

}

#section6 img {

    width: 384px;
    height: 284px;

}

#product1 {
    position: absolute;
    left: 110px;
    top: 173px;

}

#sectionTitle6 {

    width: 195px;
    height: 36px;
    left: 75px;
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-decoration: underline 2px solid rgba(0, 0, 0, 0.397);
    color: #000000;
}

#subtitle6 {

left: 15px;
top: 300px;
text-align: left;
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 21.3846px;
line-height: 26px;
width: 324px;
color: #000000;

}

#paragraph3 {

    font-size: 16px;
    font-family: "Roboto";
    left: 15px;
    width: 385px;
    margin-top: 40px;
    text-align: left;
}


#product2 {
    position: absolute;
    left: 758px;
    top: 173px;

}

#sectionTitle7 {

    width: 195px;
    height: 36px;
    left: 75px;
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: #000000;
}

#subtitle7 {
left: 10px;
top: 300px;
text-align: left;
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 21.3846px;
line-height: 26px;
width: 324px;
color: #000000;

}

#paragraph4 {

    font-size: 16px;
    font-family: "Roboto";
    left: 15px;
    margin-top: 40px;
    text-align: left;
    width: 385px;
}

#product3 {
    position: absolute;
    left: 115px;
    top: 750px;

}

#sectionTitle8 {

    width: 195px;
    height: 36px;
    left: 75px;
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: #000000;
}

#subtitle8 {
left: 10px;
top: 300px;
text-align: left;
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 21.3846px;
line-height: 26px;
width: 324px;
color: #000000;

}

#paragraph5 {

    font-size: 16px;
    font-family: "Roboto";
    left: 15px;
    margin-top: 40px;
    text-align: left;
    width: 385px;
}

#product4 {
    position: absolute;
    left: 758px;
    top: 750px;

}

#sectionTitle9 {

    width: 195px;
    height: 36px;
    left: 75px;
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
    color: #000000;
}

#subtitle9 {
left: 10px;
top: 300px;
text-align: left;
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 21.3846px;
line-height: 26px;
width: 324px;
color: #000000;

}

#paragraph6 {

    font-size: 16px;
    font-family: "Roboto";
    left: 15px;
    margin-top: 40px;
    text-align: left;
    width: 385px;
}

#section7 {

    position: absolute;
    top: 6292px;
    left: 253px;
    width: 1259px;
    height: 782px;
 

}

#sectionTitle7 {

        
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-decoration: underline 2px solid;
    color: #000000;
    margin-left: 100px;
    margin-bottom: 30px;

}
#section7 img {

    width: 477px;
height: 304px;
}

#subtitle10 {
    position: absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
width: 639px;
height: 53px;
left: 580px;
top: 85px;

}

#paragraph7 {
    position: absolute;
    font-family: 'Roboto';

font-weight: 400;
font-size: 21px;
line-height: 25px;
width: 470px;
left: 580px;
top: 150px;
}

#imgLeft1 {
    position: absolute;
    left: 50px;
}

#subtitle11 {
    position: absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
width: 639px;
height: 53px;
left: 200px;
top: 420px;

}

#paragraph8 {
    position: absolute;
    font-family: 'Roboto';
text-align: right;
font-weight: 400;
font-size: 21px;
line-height: 25px;
width: 520px;
left: 100px;
top: 480px;
}

#imgRight {

    position: absolute;
    top: 358px;
    left: 690px;
}


#subtitle12 {
    position: absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
width: 639px;
height: 53px;
left: 580px;
top: 750px;

}

#paragraph9 {
    position: absolute;
    font-family: 'Roboto';

font-weight: 400;
font-size: 21px;
line-height: 25px;
width: 470px;
left: 580px;
top: 800px;
}

#imgLeft2 {
    position: absolute;
    top: 720px;
    left: 50px;
}

#section8 {

    position: absolute;
    top: 7300px;
    left: 253px;
    width: 1259px;
    height: 782px;
 

}


#sectionTitle8 {

    position: absolute;
    top: 167px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-decoration: underline 2px solid;
    color: #000000;
    margin-left: 100px;
    margin-bottom: 30px;

}
#section8 img {

    width: 477px;
    height: 304px;
    position: absolute;
    top: 256px;
}

#subtitle13 {
    position: absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
text-align: center;
line-height: 31px;
width: 448px;
height: 69px;
left: 92px;
top: 575px;

}

#imgLeft3 {
    position: absolute;
    top: 720px;
    left: 50px;
}

#subtitle14 {
    position: absolute;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
text-align: center;
line-height: 31px;
width: 371px;
height: 47px;
left: 745px;
top: 575px;

}

#imgRight2 {

    position: absolute;
    top: 720px;
    left: 690px;
}

#sectionTitle9 {
    position: absolute;
    top: 750px;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-left: 100px;
    margin-bottom: 30px;

}

#section8 ol {

    position: absolute;
    top: 800px;
    left: 160px;    
    width: 950px;
    list-style: decimal;
}

#section8 ol li {

    font-family: 'roboto';
font-style: italic;
font-weight: 700;
font-size: 26px;
line-height: 31px;
}

#section8 ol li span {
position: absolute;
right: 0;
font-style: italic;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #1D22EC;
}

#section8 button {
    position: absolute;
    top: 1080px;
    left: 390px;
    width: 480px;
height: 116px;
    background: #98220D;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

#section8 button a {

text-decoration: none;
font-family: 'roboto';
font-style: italic;
font-weight: 700;
font-size: 26px;
line-height: 31px;

color: #FFFFFF;
}

footer div{
    position: absolute;
    bottom: 0;
    left: 250px;  
        z-index: 1000;
    width: 1263px;
    background: #373867;
}