
header {

    background-color: #373867;
    position: fixed;
    width: 1512px;
    height: 91px;
    left: 0px;
    top: 0px;
    z-index: 100;
}

header img {

    position: fixed;
    width: 65px;
    height: 67px;
    left: 26px;
    top: 12px;

}

h1 { 

    color: #46A07B; 
    font-family: 'Roboto Flex', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    width: 366px;
    height: 70px;
    left: 573px;
    top: 9px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;

    color: #46A07B;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navIcon {

    width: 50px;
    height: 39px; 

}

nav {
    position: fixed;
    height: 55px;
    width: 1260px;
    left: 253px;
    top: 90px;
    z-index: 99;
}

.navButton {

    background-color: #373867;
    position: relative;
    float: left;
    font-size: 20px;
    width: 210px;
    height: 55px;
    border: none;
    border-right: 1px solid black;
    padding: 0;
    margin: 0;
}

.navButtonText {

    text-decoration: none;
    color: #46A07B; 
    font-family: 'Roboto Flex', sans-serif;
}

#burgerIcon { 

    opacity: 0;
}

aside {

    position: fixed;
    width: 253px;
    height: 1000px;
    left: 0px;
    top: 90px;
    background: rgba(55, 56, 103, 0.1);
    text-align: center;
    z-index: 98;
}

.asideButton {

    width: 142px;
    height: 43px;
    background: rgba(55, 56, 103, 0);
    border: none;
    border-bottom: 1px solid black;
    position: relative;


}

.asideButton a {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #479679;
    margin: 10px;

}

aside input {

    margin: 22px;
}

aside div {

    position: relative;
    height: 1000px;

}

aside div p {

   margin-bottom: 12px;
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 16px;

}

#menuSide {
 
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 23px;

color: #373867;
}

#hidden {

    position: absolute;
    display: none;

}

#section1 {
    
    position: absolute;
    left: 253px;
    top: 146px;
    width: 1368px;
    height: 782px;
    background: linear-gradient(180deg, rgba(222, 239, 241, 0.86) 0%, rgba(222, 239, 240, 0.86) 18.75%, rgba(229, 242, 244, 0.86) 35.94%, rgba(203, 228, 216, 0.1118) 58.33%, rgba(255, 255, 255, 0) 83.85%); 
}

#welcomeDiv {
    

position: absolute;
width: 307px;
height: 81px;
left: 474px;
top: 103px;

background-color: rgba(170, 206, 155, 0.53);
border: 2px solid #000000;
border-radius: 20px;
align-items: center;
align-content: center;
}


#welcomeDiv p {

    justify-content: center;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    text-transform: uppercase;
    margin: auto;
    color: #373867;
    z-index: 10;
    margin-top: 12px;
} 

#projectDescription {

    position: absolute;
width: 546px;
height: 457.4px;
left: 134px;
top: 231px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28.8453px;
line-height: 41px;
/* or 143% */

display: flex;
align-items: center;
letter-spacing: 0.02em;

/* Grayish Navy - Primary color */

color: #373867;
}

#section1 img {
    
    box-sizing: border-box;
    
    position: absolute;
    width: 500px;
    height: 272.52px;
    left: 724.86px;
    top: 312.56px;
    
    border: 0.75px solid #000000;

}


#section2 {

    position: absolute;
    left: 120px;
    top: 900px;
}

#section2 img {

    background: rgba(170, 206, 155, 0.3);
    border-radius: 20px;
    width: 222px;
    height: 222px;
    padding: 12px 12px;
}

#sectionTitle {

position: absolute;
width: 386px;
height: 47px;
left: 267px;
top: 130px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;


color: #373867;
}

#subtitle1 {


position: absolute;
width: 140px;
height: 28px;
left: 359px;
top: 231px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #373867;
}

#img1 {

    position: absolute;
    left: 309px;
    top: 283px;
}


#subtitle2 {


    position: absolute;
    width: 140px;
    height: 28px;
    left: 1033px;
    top: 230px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img2 {
    
     position: absolute;
     left: 977px;
     top: 289px;
}

#subtitle3 {


    position: absolute;
    width: 316px;
    height: 26px;
    left: 270px;
    top: 580px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img3 {
    
     position: absolute;
     left: 311px;
     top: 635px;
}

#subtitle4 {


    position: absolute;
    left: 1000px;
    top: 580px;
    width: 199px;
    height: 26px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img4 {
    
     position: absolute;
     left: 977px;
     top: 635px;
}

#section3 {

    position: absolute;
    top: 1964px;
    left: 120px;
}


#section3 img {

    background: rgba(170, 206, 155, 0.3);
    border-radius: 20px;
    width: 131px;
    height: 131px;
    padding: 12px 12px;
    
}

#sectionTitle2 {

position: absolute;
width: 386px;
height: 47px;
left: 267px;
top: 130px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 47px;


color: #373867;
}

#subtitle5 {


position: absolute;
width: 140px;
height: 28px;
left: 426px;
top: 294px;


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #373867;
}

#img5 {

    position: absolute;
    left: 277px;
    top: 350px;
}


#subtitle6 {


    position: absolute;
    width: 140px;
    height: 28px;
    left: 1044px;
    top: 289px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img6 {
    
     position: absolute;
     left: 916px;
     top: 358px;
}

#subtitle7 {


    position: absolute;
    width: 316px;
    height: 26px;
    left: 426px;
    top: 571px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img7 {
    
     position: absolute;
     left: 287px;
     top: 634px;
}

#subtitle8 {


    position: absolute;
    left: 1048px;
    top: 580px;;
    width: 199px;
    height: 26px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #373867;
    }
    
#img8 {
    
     position: absolute;
     left: 897px;
     top: 636px;
}