*, body {
  font-family: 'Roboto';
  box-sizing: border-box;
  margin: 0;
  color: #373867;
}
body{
  padding-top: 91px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.showTablet {
  display: none;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  html{
    font-size: 18px;
  }
  .showTablet {
    display: flex;
  }
  .hideTablet {
    display: none;
  }
  .invisibleTablet {
    visibility: hidden;
  }
  .margin30 {
    margin-left: min(25%, 320px);
  }
}
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
.wrapPC {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
}
